name: "Daily"

on:
  # Run daily at midnight
  schedule:
    - cron: "0 0 * * *"

  # Allow workflow to be manually run from the GitHub UI
  workflow_dispatch:

jobs:
  daily-job:
    name: "Daily Check"
    uses: mParticle/mparticle-workflows/.github/workflows/daily-cron.yml@stable
    secrets:
      MP_DAILY_CRON_BOT: ${{ secrets.MP_INTEGRATIONS_SEMANTIC_RELEASE_BOT }}